<div class="row">
 
    
        <div class="col-lg-8 col-md-10 mx-auto" >
            <a href="#">
                <img  style=" display: block;
                margin-left: auto;
                margin-right: auto" class="img-fluid" src="assets/img/slika22.jpg" alt="" >
              </a>
              
              <p  style="text-align: center "><b>Ime i prezime</b>: Jelena Miletic</p>
              <p style="text-align: center "><b>Datum rodjenja</b>: 02.11.1993.</p>
              <p style="text-align: center "><b>Mesto rodjenja</b>: Topola</p>
              <p style="text-align: center "><b>Mesto prebivalista</b>: Beograd</p>
              <p style="text-align: center "><b>Adresa</b>:  Brace Jerkovic 71</p>
              <p style="text-align: center "><b>Obrazovanje:</b>
              <ul>
                  <li style="text-align: center ">Osnovna skola "Karadjordje",<br> Topola</li> 
                  <li style="text-align: center ">Gimnazija "Kralj Petar I", <br>smer: Opsti , Topola</li>
                  <li style="text-align: center ">Visoka ICT,smer:IT, Beograd</li>
              </ul>
             
    
              
          
         
        </div>
      </div>